<div class="row g-3 my-2">
  <div class="col-md-12">
    <div class="mb-3">
      What is the current learning environment (school) of the child?
    </div>
    <div class="form-check">
      <input
        type="radio"
        class="form-check-input"
        name="currentLearningEnvironment"
        id="currentLearningEnvironment-online"
        value="Online"
      />
      <label class="form-check-label" for="currentLearningEnvironment-online"
        >Online</label
      >
    </div>
    <div class="form-check">
      <input
        type="radio"
        class="form-check-input"
        name="currentLearningEnvironment"
        id="currentLearningEnvironment-offline"
        value="Offline"
      />
      <label class="form-check-label" for="currentLearningEnvironment-offline"
        >Offline</label
      >
    </div>
  </div>
</div>
<div class="row g-3 my-2">
  <h5 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-primary">Access to Technology</span>
  </h5>
  <h6 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-primary"
      >Proficiency with Laptop/iPad/Desktop/Personal Computer</span
    >
  </h6>
  <div>
    <div class="mx-4">
      <div class="col-12">
        <label for="applicationsLaptop" class="form-label"
          >Name of the applications</label
        >
        <textarea
          name="applicationsLaptop"
          id="applicationsLaptop"
          class="form-control"
          required
        ></textarea>
      </div>
      <div class="col-12">
        <div class="mb-3">Does your laptop have Microsoft Applications</div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="hasMSApplications"
            id="hasMSApplications-yes"
            value="Yes"
          />
          <label class="form-check-label" for="hasMSApplications-yes"
            >Yes</label
          >
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="hasMSApplications"
            id="hasMSApplications-no"
            value="No"
          />
          <label class="form-check-label" for="hasMSApplications-no">No</label>
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">Number of hours spent on the laptop per week</div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="hoursSpentLaptop"
            id="hoursSpentLaptop-1"
            value="> 10 hours per week"
          />
          <label class="form-check-label" for="hoursSpentLaptop-1"
            >> 10 hours per week</label
          >
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="hoursSpentLaptop"
            id="hoursSpentLaptop-2"
            value="< 10 hours per week"
          />
          <label class="form-check-label" for="hoursSpentLaptop-2"
            >< 10 hours per week</label
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile -->
  <h6 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-primary">Proficiency with Mobile</span>
  </h6>
  <div>
    <div class="mx-4">
      <div class="col-12">
        <div class="mb-3">Do you use facebook?</div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="facebook"
            id="facebook-yes"
            value="Yes"
          />
          <label class="form-check-label" for="facebook-yes">Yes</label>
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="facebook"
            id="facebook-no"
            value="No"
          />
          <label class="form-check-label" for="facebook-no">No</label>
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">Do you use Whatsapp/Telegram/Signal?</div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="whatsapp"
            id="whatsapp-yes"
            value="Yes"
          />
          <label class="form-check-label" for="whatsapp-yes">Yes</label>
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="whatsapp"
            id="whatsapp-no"
            value="No"
          />
          <label class="form-check-label" for="whatsapp-no">No</label>
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">Average number of applications on phone</div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="applicationsPhone"
            id="applicationsPhone-1"
            value="<10"
          />
          <label class="form-check-label" for="applicationsPhone-1">< 10</label>
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="applicationsPhone"
            id="applicationsPhone-2"
            value="11 - 20"
          />
          <label class="form-check-label" for="applicationsPhone-2"
            >11 - 20</label
          >
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="applicationsPhone"
            id="applicationsPhone-3"
            value="> 20"
          />
          <label class="form-check-label" for="applicationsPhone-3">> 20</label>
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">Proficiency on Instagram/Facebook</div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="proficiencyInstagram"
            id="proficiencyInstagram-1"
            value="I post less than once a week"
          />
          <label class="form-check-label" for="proficiencyInstagram-1"
            >I post less than once a week</label
          >
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="proficiencyInstagram"
            id="proficiencyInstagram-2"
            value="I post at least once a week"
          />
          <label class="form-check-label" for="proficiencyInstagram-2"
            >I post at least once a week</label
          >
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="proficiencyInstagram"
            id="proficiencyInstagram-3"
            value="I post more than once a week"
          />
          <label class="form-check-label" for="proficiencyInstagram-3"
            >I post more than once a week</label
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Other -->
  <div>
    <div class="mx-4">
      <div class="col-12">
        <div class="mb-3">English Language Proficiency</div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="englishLanguage"
            id="englishLanguage-oral"
            value="Oral"
          />
          <label class="form-check-label" for="englishLanguage-oral"
            >Oral</label
          >
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="englishLanguage"
            id="englishLanguage-written"
            value="Written"
          />
          <label class="form-check-label" for="englishLanguage-written"
            >Written</label
          >
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="englishLanguage"
            id="englishLanguage-both"
            value="Both"
          />
          <label class="form-check-label" for="englishLanguage-both"
            >Both</label
          >
        </div>
      </div>

      <div class="col-12">
        <div class="mb-3">Technological Availability to the child</div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="technologicalAvailability"
            id="technologicalAvailability-dedicated"
            value="Dedicated"
          />
          <label
            class="form-check-label"
            for="technologicalAvailability-dedicated"
            >Dedicated</label
          >
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="technologicalAvailability"
            id="technologicalAvailability-shared"
            value="Shared"
          />
          <label class="form-check-label" for="technologicalAvailability-shared"
            >Shared</label
          >
        </div>
      </div>

      <div class="col-12">
        <div class="mb-3">Internet Availability</div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="internetAvailability"
            id="internetAvailability-limited"
            value="Limited daily use"
          />
          <label class="form-check-label" for="internetAvailability-limited"
            >Limited daily use</label
          >
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="internetAvailability"
            id="internetAvailability-unlimited"
            value="Unlimited daily use"
          />
          <label class="form-check-label" for="internetAvailability-unlimited"
            >Unlimited daily use</label
          >
        </div>
      </div>

      <div class="col-12">
        <div class="mb-3">Parental availability</div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="parentalAvailability"
            id="parentalAvailability-available"
            value="Available during sessions for the project"
          />
          <label class="form-check-label" for="parentalAvailability-available"
            >Available during sessions for the project</label
          >
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="parentalAvailability"
            id="parentalAvailability-unavailable"
            value="Unavailable during sessions for the project"
          />
          <label class="form-check-label" for="parentalAvailability-unavailable"
            >Unavailable during sessions for the project</label
          >
        </div>
        <div class="form-check">
          <label class="form-check-label" for="parentalAvailabilitySource"
            >If unavailable, name a dedicated source who can be present during
            the sessions over 12 to 16 weeks</label
          >
          <input
            type="text"
            class="form-control"
            name="parentalAvailabilitySource"
            id="parentalAvailabilitySource"
          />
        </div>
      </div>

      <div class="col-12">
        <div class="mb-3">Parental proficiency with using technology</div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="parentalProficiency"
            id="parentalProficiency-proficient"
            value="Proficient"
          />
          <label class="form-check-label" for="parentalProficiency-proficient"
            >Proficient</label
          >
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="parentalProficiency"
            id="parentalProficiency-not-proficient"
            value="Not proficient"
          />
          <label
            class="form-check-label"
            for="parentalProficiency-not-proficient"
            >Not proficient</label
          >
        </div>
        <div class="form-check">
          <label class="form-label" for="parentalProficiencyHours"
            >If proficient, what are the number of hours spent on the laptop /
            device over the week?</label
          >
          <input
            type="number"
            class="form-control"
            name="parentalProficiencyHours"
            id="parentalProficiencyHours"
            min="1"
            max="24"
          />
        </div>
      </div>

      <div class="col-12">
        <div class="mb-3">Child’s proficiency with using technology</div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="childProficiency"
            id="childProficiency-proficient"
            value="Proficient"
          />
          <label class="form-check-label" for="childProficiency-proficient"
            >Proficient</label
          >
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="childProficiency"
            id="childProficiency-not-proficient"
            value="Not proficient"
          />
          <label class="form-check-label" for="childProficiency-not-proficient"
            >Not proficient</label
          >
        </div>
      </div>

      <div class="col-12">
        <div class="mb-3">
          Current issues with online education faced by the child and the family
        </div>
        <div class="form-check">
          <label class="form-label" for="currentIssues"
            >Describe briefly relevant issues for access to connectivity /
            child’s behaviour during online classrooms / level of independence
            of the child towards online education</label
          >
          <textarea
            class="form-control"
            name="currentIssues"
            id="currentIssues"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
